*{
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: lightcoral;
}

nav{
    position: fixed;
    width: 100vw;
    display: flex;
    height: 5em;
    background-color: white;
    align-items: center;
    padding: 10px;
    justify-content: space-evenly;
}

.option-cont{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 1.2em;
}

.option-cont>div{
    display: flex;
    gap: 5px;
    align-items: center;
    margin: 20px;
}
.option-cont>div>img{
    height: 1.5em;
}

.option-cont>button{
    width: 8em;
    border-radius: 30px;
    background-color: rgb(148, 4, 64);
    height: 3em;
    color: white;
    font-size: 1em;
    border: none;
    font-weight: bolder;
    letter-spacing: 2px;
}
.option-cont>div>a{
    text-decoration: none;
    color: black;
}
.nav-title{
    font-size: 1.5em;
}


.hero>img{
    width: 100vw;
    height: 70vh;
}

.hero-info{
    position: absolute;
    top: 30%;
    left: 35%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.699);
    padding: 30px;
    border-radius: 30px;
    color: black;
    font-weight: bolder;
}

.test{
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    height: 450px;
    width: 450px;
    background-color: red;
}

.info-cont{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.basic-info-cont{
    border-radius: 10px;
    width: 95%;
    background-color: white;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.basic-info-cont>p{
    width: 50%;
    font-size: 20px;
    margin: 20px;
    text-align: center;
}

.basic-info-cards{
    margin-top: 50px;
    display: flex;
}

.basic-info-cards>div{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.basic-info-cards>div>i{
    font-size: 50px;
    color: rgb(148, 4, 64);
}

.basic-info-cards>div>p{
    text-align: center;
}

.lots-of-cards{
    width: 95%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.lots-of-cards>div{
    background-color: aqua;
    height: 250px;
    width: 350px;
    margin: 20px;
    border-radius: 20px;
    padding: 20px;
}